@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
    ViewData["Title"] = localizer["Géneros"];
    ViewData["Caption"] = localizer["Configure aqui os tamanhos por género."];
}
@using Core.Constants
@using LVLgroupApp.Areas.Artigo.Models.Gender
@model GenderViewModel

<div class="card">
    <div class="col-sm-12" style="padding:20px">
        @if ((AuthorizationService.AuthorizeAsync(User, Permissions.Genders.Create)).Result.Succeeded)
        {
            <a onclick="jQueryModalGet('/Artigo/gender/OnGetCreateOrEdit','@localizer["Criar género"]', event, 'modal-xl')" class="btn btn-success mb-3">
                <i class="fa fa-plus-square"></i> @localizer["Criar"]
            </a>
        }

        <a id="reload" class="btn btn-primary text-white mb-3">
            <i class="fa fas fa-bolt"></i>
            @localizer["Recarregar"]
        </a>
    </div>
    <div id="viewAll" class="card-body table-responsive">
    </div>
</div>


@section Scripts
{
    <script>

        function loadData() {
            $('#viewAll').load('/artigo/gender/LoadAll');
        }

        $(document).ready(function () {
            $("#genderTable").DataTable();
            loadData();
            $('#reload').on('click', function () {
                loadData();
            });
        });
    </script>
}