
<style>
    .image-content {
        position: relative;
        width: 80vw;
        left : 50%;
        transform: translate(-50%, 0);
    }

    .modal-body {
        position: relative;
        display: inline-block;
    }

        .modal-body img {
            object-fit: contain;
        }

    .viewableImageClose:before {
        content: '✕';
    }

    .viewableImageClose {
        position: absolute;
        top: -36px;
        right: -36px;
        color: red;
        cursor: pointer;
    }
</style>


<div id="ImageModal" class="modal fade" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog ">
        <div class="modal-content image-content rounded-0 portal-border">
            <div class="modal-body p-0">
                <img id="imageContent" style="width:auto!important;">
                <h2><span class="viewableImageClose" data-bs-dismiss="modal" aria-label="Close"></span></h2>
            </div>
        </div>
    </div>
    
    
    <div id="caption" style="color: red;"></div>
</div>
