@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
    ViewData["Title"] = localizer["Clientes"];
    ViewData["Caption"] = localizer["Configure aqui os seus clientes."];
}
@using Core.Constants
@using LVLgroupApp.Areas.Cliente.Models.Cliente
@model ClienteViewModel

<div class="card">
    <div class="col-sm-12" style="padding:20px">
        @if ((AuthorizationService.AuthorizeAsync(User, Permissions.Clientes.Create)).Result.Succeeded)
        {
            <a onclick="jQueryModalGet('/cliente/cliente/OnGetCreateOrEdit','@localizer["Criar cliente"]', event, 'modal-xl')" class="btn btn-success mb-3">
                <i class="fa fa-plus-square"></i> @localizer["Criar"]
            </a>
        }

        <a id="reload" class="btn btn-primary text-white mb-3">
            <i class="fa fas fa-bolt"></i>
            @localizer["Recarregar"]
        </a>
    </div>


    <div id="viewAll" class="card-body table-responsive">
    </div>
</div>

@section Scripts
{
    <script>

        function loadData() {
            $('#viewAll').load('/cliente/cliente/LoadAll');
        }

        $(document).ready(function () {
            $("#clienteTable").DataTable();
            loadData();
            $('#reload').on('click', function () {
                loadData();
            });
        });

    </script>
}