@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
    ViewData["Title"] = localizer["Notificações"];
    ViewData["Caption"] = localizer["Visualize aqui as notificações."];
}
@using Core.Constants
@using LVLgroupApp.Areas.Notification.Models.Notification
@model bool

<div class="card">
    <div class="col-sm-12" style="padding:20px">
        <div class="row">
            <div class="col-sm-4">
                @if ((AuthorizationService.AuthorizeAsync(User, Permissions.Notifications.Create)).Result.Succeeded)
                {
                    <a onclick="jQueryModalGet('/notification/notification/OnGetCreate','@localizer["Criar notificação"]', event, 'modal-lg')" class="btn btn-success mb-5">
                        <i class="fa fa-plus-square"></i> @localizer["Criar"]
                    </a>
                }
                <a id="reload" class="btn btn-primary text-white mb-5">
                    <i class="fa fas fa-bolt"></i>
                    @localizer["Recarregar"]
                </a>
            </div>
            <div class="col-sm-8">
                <div class="row">
                </div>
            </div>
        </div>
    </div>

    <div id="viewAll" class="card-body table-responsive">
    </div>
</div>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $("#notificationTable").DataTable();
            loadData();
            $('#reload').on('click', function () {
                loadData();
            });
        });
        function loadData() {
            $('#viewAll').load('/notification/notification/LoadAll');
        }
    </script>
}