@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
    ViewData["Title"] = localizer["Notificações"];
    ViewData["Caption"] = localizer["Visualize aqui as notificações."];
}
@using Core.Constants
@* @using LVLgroupApp.Areas.Notification.Models.Notification *@

<div class="card">
    <div class="col-sm-12" style="padding:20px">
        <div class="row">
            <div class="col-sm-4">
                <a id="reload" class="btn btn-primary text-white mb-3">
                    <i class="fa fas fa-bolt"></i>
                    @localizer["Recarregar"]
                </a>
                <a id="cleanold" class="btn btn-primary text-white mb-3">
                    <i class="fa fas fa-trash"></i>
                    @localizer["Remover notificações antigas"]
                </a>
            </div>
            <div class="col-sm-8">
                <div class="row">
                </div>
            </div>
        </div>
    </div>

    <div id="viewAll" class="card-body table-responsive">
    </div>
</div>

@section Scripts
{
    <script>
        $(document).ready(function () {

            $('#cleanold').on('click', function () {
                //alert("cleanold");
                $.busyLoadSetup({ fontawesome: "fa fa-spinner fa-spin fa-3x fa-fw" });
                $.busyLoadFull("show");
                var _url = "/notification/notification/OnPostClean";

                $.ajax(
                    {
                        type: "POST",
                        url: _url,
                        processData: false,
                        contentType: false,
                        success: function (data) {
                            if (data.status == "success") {
                                alert('@localizer["Todas as notificações com mais de 2 meses foram removidas com sucesso."]');
                                loadData();
                            }
                        },
                        error: function () {
                            alert("Error occurs");
                            loadData();
                        }
                    }
                );

            });

            $("#notificationTable").DataTable();

            loadData();

            $('#reload').on('click', function () {
                loadData();
            });
        });
        function loadData() {
            $('#viewAll').load('/notification/notification/LoadAll');
        }
    </script>
}