@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
    ViewData["Title"] = localizer["Tipos de Relatórios"];
    ViewData["Caption"] = localizer["Configure aqui os seus tipos de relatórios."];
}
@using Core.Constants
@using LVLgroupApp.Areas.Report.Models.ReportType
@model ReportTypeViewModel

<div class="card">
    <div class="col-sm-12" style="padding:20px">
        <div class="row">
            <div class="col-sm-4">
                @if ((AuthorizationService.AuthorizeAsync(User, Permissions.ReportType.Create)).Result.Succeeded)
                {
                    <a onclick="jQueryModalGet('/report/reporttype/OnGetCreateOrEdit','@localizer["Criar Tipo de Relatório"]', event, 'modal-lg')" class="btn btn-success mb-5">
                        <i class="fa fa-plus-square"></i> @localizer["Criar"]
                    </a>
                }

                <a id="reload" class="btn btn-primary text-white mb-5">
                    <i class="fa fas fa-bolt"></i>
                    @localizer["Recarregar"]
                </a>
            </div>
            <div class="col-sm-8">
                <div class="row">

                </div>
            </div>
        </div>
    </div>

    <div id="viewAll" class="card-body table-responsive">
    </div>
</div>

@section Scripts
{

    <script>

        function loadData() {
            $('#viewAll').load('/report/reporttype/LoadAll');
        }

        $(document).ready(function () {

            $("#reportTypeTable").DataTable();
            loadData();
            $('#reload').on('click', function () {
                loadData();
            });
        });

    </script>
}