@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
    ViewData["Title"] = localizer["Prazos limite"];
    ViewData["Caption"] = localizer["Configure aqui os seus prazos limite."];
}
@using Core.Constants
@using LVLgroupApp.Areas.Claim.Models.Prazolimite
@model PrazolimiteViewModel

<div class="card">
    <div class="col-sm-12" style="padding:20px">
        @if ((AuthorizationService.AuthorizeAsync(User, Permissions.Prazoslimite.Create)).Result.Succeeded)
        {
            <a onclick="jQueryModalGet('/claim/prazolimite/OnGetCreateOrEdit','@localizer["Criar prazo limite"]', event, 'modal-lg')" class="btn btn-success mb-3">
                <i class="fa fa-plus-square"></i> @localizer["Criar"]
            </a>
        }

        <a id="reload" class="btn btn-primary text-white mb-3">
            <i class="fa fas fa-bolt"></i>
            @localizer["Recarregar"]
        </a>
    </div>
    <div id="viewAll" class="card-body table-responsive">
    </div>
</div>
@section Scripts
{
    <script>

        $(document).ready(function () {
            $("#prazolimiteTable").DataTable();
            loadData();
            $('#reload').on('click', function () {
                loadData();
            });
        });

        function loadData() {
            $('#viewAll').load('/claim/prazolimite/LoadAll');
        }

    </script>
}