@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
    ViewData["Title"] = localizer["Agrupamentos"];
    ViewData["Caption"] = localizer["Configure aqui os seus agrupamentos de lojas."];
}
@using Core.Constants
@using LVLgroupApp.Areas.Business.Models.Grupoloja
@model GrupolojaViewModel

<div class="card">
    <div class="col-sm-12" style="padding:20px">
        @if ((AuthorizationService.AuthorizeAsync(User, Permissions.Gruposlojas.Create)).Result.Succeeded)
        {
            <a onclick="jQueryModalGet('/business/grupoloja/OnGetCreateOrEdit','@localizer["Criar agrupamento de lojas"]', event, 'modal-lg')" class="btn btn-success mb-3">
                <i class="fa fa-plus-square"></i> @localizer["Criar"]
            </a>
        }

        <a id="reload" class="btn btn-primary text-white mb-3">
            <i class="fa fas fa-bolt"></i>
            @localizer["Recarregar"]
        </a>
    </div>

    <div id="viewAll" class="card-body table-responsive">
    </div>
</div>

@section Scripts
{
    <script>

        $(document).ready(function () {
            $("#grupolojaTable").DataTable();
            loadData();
            $('#reload').on('click', function () {
                loadData();
            });
        });

        function loadData() {
            $('#viewAll').load('/business/grupoloja/LoadAll');
        }
    </script>
}