@using Core.Enums;
@using Core.Entities.Identity;
@using Infrastructure.Data;
@using LVLgroupApp.Areas.Business.Controllers.Empresa;
@using LVLgroupApp.Views.Shared.Components.Culture;
@using MediatR
@using AutoMapper
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IHtmlLocalizer<SharedResource> localizer
@inject IMediator mediator
@inject IMapper mapper
@{
    var isSuperAdmin = false;
    var isAdmin = false;
    var isRevisor = false;
    var isBasic = false;
    byte[] empresaLogo = null;

    if (User.Identity.IsAuthenticated)
    {
        var userId = UserManager.GetUserId(User);
        var currentUser = await UserManager.FindByIdAsync(userId);

        if (currentUser.EmpresaId != null)
        {
            empresaLogo = await EmpresaController.GetEmpresaLogoAsync((int)currentUser.EmpresaId, mapper, mediator);
        }
        isSuperAdmin = await UserManager.IsInRoleAsync(currentUser, Roles.SuperAdmin.ToString());
        isAdmin = await UserManager.IsInRoleAsync(currentUser, Roles.Admin.ToString());
        isRevisor = await UserManager.IsInRoleAsync(currentUser, Roles.Revisor.ToString());
        isBasic = await UserManager.IsInRoleAsync(currentUser, Roles.Basic.ToString());
    }
}


<!-- Navbar -->
<nav id="navigationBar" class="navbar navbar-expand-lg bg-body-tertiary fixed-top border-bottom py-0">
    <div class="container-fluid py-0">

        <!-- brand -->
        <a class="navbar-brand me-auto ms-lg-2 ms-2 px-4" href="/">
            <img id="header-logo" src="~/images/logo-lvl-dark.png" alt="LVL Logo" style="width:140px;">
        </a>

        <!-- collapse trigger -->
        <button class="navbar-toggler ms-lg-0 ms-3"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#topNavBar"
                aria-controls="topNavBar"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- collapseble navbar -->
        <div class="collapse navbar-collapse" id="topNavBar">
            @* <span class="navbar-text fw-bold fs-3 mr-4">@localizer["Portal de reclamações"]</span> *@
            <ul class="navbar-nav mb-2 mb-lg-0 ms-auto">
                <li class="nav-item dropdown">
                    @(await Component.InvokeAsync<CultureViewComponent>())
                </li>
            </ul>
        </div>

    </div>
</nav>